@using _20230416_Authentication.Models.Entities.Concrete;
@model IQueryable<AppUser>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User</h1>
<h4>Kullanıcı Listesi</h4>

<div class="row">
    <div class="col-md-12">
        <div class="table-resposive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>